# Do not store secret files, except example secret
config/secret
!config/secret/example-api-key.toml

# node dependecies
node_modules

# jest coverage
coverage

# /src/frontend -> /out/frontend
# /src/backend -> /out/backend
out